<div class = "container">
  <h1><%= @cocktail.name.capitalize %></h1>
  <div class ="doses-list">
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill%>
    <% @cocktail.doses.each do |dose|%>
    <div class = "dose-instructions">
      <ol>
       <li>
         <p ><%= dose.ingredient.name.capitalize %>-  <%= dose.description %>   <%= link_to "Delete", dose_path(dose),class: "btn-delete", method: :delete, data: { confirm: "Are you sure?" } %></p>
       </li>
         </ol>
    </div>
   <% end %>
 </div>
 <%= link_to "Back", cocktails_path,class: "btn btn-gradient" %>
 <div class="dose-form">
  <%= simple_form_for([@cocktail,@dose]) do |f| %>
  <%= f.association :ingredient%>
  <%= f.input :description %>
  <%= f.submit%>
  <% end %>
</div>
</div>
